@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased bg-white dark:bg-neutral-700;
}

h1 {
  @apply prose-2xl prose-invert;
}

.text-brand {
  color: rgb(79, 25, 106);
}

.text-primary {
  color: #045882;
}

.text-secondary {
  color: #90b9c3;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.bg-brand {
  background-color: rgb(79, 25, 106);
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.text-sm {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.563rem;
}

.text-2xl {
  font-size: 1.953rem;
}
